@font-face {
  font-family: "Proxima Nova Th";
  src: url("/fonts/ProximaNovaT-Thin.eot");
  src: local("/fonts/Proxima Nova Thin"), local("/fonts/ProximaNovaT-Thin"),
    url("/fonts/ProximaNovaT-Thin.eot?#iefix") format("embedded-opentype"),
    url("/fonts/ProximaNovaT-Thin.woff2") format("woff2"),
    url("/fonts/ProximaNovaT-Thin.woff") format("woff"),
    url("/fonts/ProximaNovaT-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova Th";
  src: url("/fonts/ProximaNova-Extrabld.eot");
  src: local("Proxima Nova Extrabold"), local("ProximaNova-Extrabld"),
    url("/fonts/ProximaNova-Extrabld.eot?#iefix") format("embedded-opentype"),
    url("/fonts/ProximaNova-Extrabld.woff2") format("woff2"),
    url("/fonts/ProximaNova-Extrabld.woff") format("woff"),
    url("/fonts/ProximaNova-Extrabld.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova Rg";
  src: url("/fonts/ProximaNova-Regular.eot");
  src: local("/fonts/Proxima Nova Regular"), local("ProximaNova-Regular"),
    url("/fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"),
    url("/fonts/ProximaNova-Regular.woff2") format("woff2"),
    url("/fonts/ProximaNova-Regular.woff") format("woff"),
    url("/fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  color: #ffffff;
}

h3,
p {
  margin: 0;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  background-image: url(./images/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

#register,
#login {
  position: absolute;
  filter: drop-shadow(-4.794px 54.791px 35.5px rgba(0, 0, 0, 0.58));
  background-color: #11171b9c;
  padding: 50px;
}

#register {
  z-index: 22;
  opacity: 0;
}

#login {
  z-index: 21;
}

.form {
  width: 429px;
  height: 545px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.form__header {
  width: 100%;
  display: flex;
  font-size: 22px;
  font-family: "Proxima Nova Rg";
  font-weight: normal;
  font-style: normal;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.form__button-register,
.form__button-login {
  border-bottom: 3px solid #ffab1a;
}

.form__header p {
  margin: 0 50px 30px 0;
}

.form > input {
  width: 100%;
  background: none;
  border: none;
  border-bottom: 1px solid #fbfbfb;
  padding: 5px;
  font-size: 17px;
  font-family: "Proxima Nova Th";
  font-weight: 100;
  font-style: normal;
  color: #ffffff;
}

label {
  width: 100%;
  font-size: 15px;
  color: #ffffff;
  font-family: "Proxima Nova Rg";
  font-weight: normal;
  font-style: normal;
}

input:focus {
  outline: none;
}

input::placeholder {
  color: #ffffff;
  font-size: 17px;
  font-family: "Proxima Nova Th";
  font-weight: 800;
  font-style: normal;
}

button {
  width: 196px;
  height: 39px;
  border: none;
  border-radius: 20px;
  background-color: #f57f17;
  font-size: 20px;
  color: #ffffff;
  font-family: "Proxima Nova Rg";
}

#toregister:target ~ .wrapper #register,
#tologin:target ~ .wrapper #login {
  z-index: 22;
  animation-name: fadeInLeft;
  animation-delay: 0.1s;
}
#toregister:target ~ .wrapper #login,
#tologin:target ~ .wrapper #register {
  animation-name: fadeOutLeft;
}

.animate {
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-fill-mode: both;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fadeInLeft {
  animation-name: fadeInLeft;
}

@keyframes fadeOutLeft {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(-20px);
  }
}

.fadeOutLeft {
  animation-name: fadeOutLeft;
}
